/* My portal page styles */

html {
    background: url(../images/BGImage.png);
    /*background-color: #000000; /* Red Green Blue */
}

body{
    background-color: #ffffff;
    width: 80%;
    margin-left: 8.5em;
}

div#wrapper {
    background-color: #fff;
    width: 90%;
    margin: auto;
    overflow: auto;
}

header {
    position: relative;
}

div.crown {
    clear: both;
    float: left;
    width: 20%;
    margin-top: 2.5em;
    margin-left: 4em;
}

div.legacy {
    float: right;
    width: 70%;
}

div.largeImage{
    width: 100%;
    margin: auto;
    overflow: auto;
}

section.legacyGaming  {
    width: 50%;
    float: left;
    clear: right;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

div.legacyLogoImage{
    float: left;
    clear: right;
}

p.legacyOverview{
    float: right;
    clear: left;
    text-align: right;
    font-size: 1.25em;
}

section.storeInfo{
    width: 100%;
    float: right;
    clear: left;
}

div.legacyHistory{
    width: 50%;
    float: right;
    clear: left;
    margin: auto;
    overflow: auto;
}

h2{
    text-align: center;
    background-color: black;
    color: white;
}

p.history{
    margin: auto;
    float: left;
    clear: right;
    text-align: left;
    font-size: 1.25em;
    color: black;
    background-color: white;
}

div.kidsZoneInfo {
    float: left;
    clear: right;
    margin: auto;
    overflow: auto;
    width: 50%;
}

p.kidsZoneText{
    margin: auto;
    float: right;
    clear: left;;
    text-align: left;
    font-size: 1.25em;
    color: black;
    background-color: white;
}

div.retro{
    float: right;
    clear: left;
    margin: auto;
    overflow: auto;
    width: 65%;
}

p.turnBackTime{
    margin-right: .5em;
    float: right;
    clear: left;
    text-align: right;
    font-size: 1.25em;
    color: black;
    background-color: white;
}

phone {
    padding: 1em;
}

footer{
    clear: both;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

/*DESKTOP*/
@media all and (min-width:1280px) {

    img.desktop {
        float: right;
        width: 50%;
    }

    img.tablet, img.phone {
        display: none;
    }


}

/* TABLET*/
@media all and (min-width:769px) and (max-width:1279px) {


}

/*PHONE*/
@media all and (max-width:768px) {


}